.text-justify{
    text-align: justify;
}
.navbar-brand img{
    filter: invert(100%);
    margin-right: 0.5em;
}

.footer-icon{
    display: block;
    width: 50%;
    margin: 0 auto;
    filter: invert(100%);
}

footer{
    border-top: 10px solid #000;
}

footer .ft-menu p{
    border-bottom-style: dotted;
}

footer .ft-menu p:hover,
footer .ft-menu a:hover{
    color: #fff !important;
    border-color: #fff !important;
}
footer .sub-footer{
    background-color: black;
    box-shadow: 999px 0 black, -999px 0 black;
}
