.text-justify{
    text-align: justify;
}

.navbar-brand img{
    filter: invert(100%);
    margin-right: 0.5em;
}

.footer-icon{
    display: block;
    width: 50%;
    margin: 0 auto;
    filter: invert(100%);
}

footer .ft-menu p{
    border-bottom-style: dotted;
}

footer .ft-menu p:hover,
footer .ft-menu a:hover{
    color: #fff !important;
    border-color: #fff !important;
}
footer .sub-footer{
    background-color: black;
    box-shadow: 500px 0 black, -500px 0 black;
}

.social-icons a{ 
    color: white;
    display: inline-block;
    padding: 0 0.2em;
    text-decoration: none;
}
.social-icons a:hover{
    color: gold;
}

header{
    height: 95vh;
    position: relative;
    text-align: center;
    background-color: black;
    overflow: hidden;
}
header video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    object-fit: cover;
    object-position: 50% 50%;
}
header h1 {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    width: 95%;
    padding: 10px;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}
header h1 small{
    display: block;
    font-size: 0.5em;
    color: #d8d8d8 ;
}
header .fa-circle-down{
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 5em;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,1);
    opacity: 0.5;
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
